
header{
    color: #0D98BA;

}

.s1{
    background: lightcyan;

    
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,  #5cdf97, lightcyan 70%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;

}

.Res{
    color: #0D98BA;
    
    

}
.edu{
    color: lightslategrey;
}
.btn{
    width: 100%;
}





.s1:hover {

    background-position: 0 -100%;
   
}